<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${groupDO.name}">群聊的名称</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/group.css" rel="stylesheet" />
    <script src="/js/jquery-1.11.3.js"></script>
    <script src="/js/group.js"></script>
    <script>

        /**
         * 发送按钮触发
         */
        function sendMsg() {
            var content = $("#content").val();
            if (content==""){
                $("#content").attr("placeholder", "消息不能为空");
                return;
            }
            var username = $("#username").val();
            var form = new FormData($("#message")[0]);
            // 写入聊天
            $("#messageList").append("" +
                "<div class='message me'>" +
                    "<img class='avatar' src='/images/default.png' />" +
                    "<div class='content'>" +
                        "<div class='bubble bubble_primary right'>" +
                            "<div class='bubble_cont'>" +
                                "<div class='plain'>" +
                                    "<pre>"+ content +"</pre>" +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                    "</div>" +
                "</div>");
            //清除聊天框内容
            $("#content").val("");
            resetMessageArea();
            $.ajax({
                type: "POST",
                url: "/group/sendMsg",
                data: form,
                contentType: false,
                processData: false,
                success: function (msg) {
                }
            });
        }

    </script>
</head>
<body>
<div class="main">
    <div class="main_inner clearfix">
        <div class="panel"></div>
        <div id="chatArea" class="box chat">
            <div class="box_hd"></div>

            <!-- 消息列表 -->
            <div class="box_bd" id="messageList">
                <!-- 循环遍历群聊，显示在此 -->
                <div th:each="responseBO:${groupDetailResponseBO.groupMessageDetailResponseBOS}"
                     th:class="${responseBO.userDO.userGuid==session.userinfo.userGuid}? 'message me' : 'message'">
                    <img class="avatar" src="/images/default.png" />
                    <div class="content">
                        <div class="nickname" th:if="${responseBO.userDO.userGuid!=session.userinfo.userGuid}">
                            <nickname th:text="${responseBO.userDO.name}">昵称</nickname>
                            <span th:text="${responseBO.groupMessageDO.createTime}" class="time">时间</span>
                        </div>
                        <div th:class="${responseBO.userDO.userGuid==session.userinfo.userGuid}?
                                'bubble bubble_primary right' : 'bubble bubble_default left'">
                            <div class="bubble_cont">
                                <div class="plain">
                                    <pre th:text="${responseBO.groupMessageDO.content}">消息内容</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 发送框 -->
            <div class="box_ft">
                <div class="box_ft_hd">
                    <!-- 消息发送框 -->
                    <div class="eaitWrap">
                        <form id="message">
                            <input style="width: 90%" type="text" id="content" name="content" placeholder=""/>
                            <input type="hidden" name="userGuid" th:value="${session.userinfo.userGuid}"/>
                            <input type="hidden" name="groupGuid" th:value="${groupDO.groupGuid}"/>
                        </form>
                    </div>
                    <a class="btn btn_send" onclick="sendMsg()">send</a>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" name="index" id="index" th:value="${groupDetailResponseBO.index}">
<input type="hidden" name="userGuid" id="userGuid" th:value="${session.userinfo.userGuid}">
<input type="hidden" name="groupGuid" id="groupGuid" th:value="${groupDO.groupGuid}">

<input type="hidden" name="username" id="username" th:value="${session.userinfo.name}">

</body>
</html>