<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>人大校庆，邀您来聊</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link href="/css/register.css" type="text/css" rel="stylesheet">
    <link href="/css/global.css" type="text/css" rel="stylesheet">
    <link href="/css/general.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
</head>
<body>
<div style="width: 0;height: 0; z-index:-100;position: relative;">
    <img src="/images/logo320.jpg" />
</div>

<div id="layout">

    <span>请直接登录</span>

    <form action="/user/register" method="post">
        <div id="info">
            <input th:value="${session.userinfo.name}" name="name" disabled="disabled"/>
            <br>

            <table>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <input type="hidden" name="icon" value="13">
            <input type="hidden" name="type" value="0">

            <div class="reg_btn">
                <button class="submit" type="submit">直接登录</button>
            </div>

        </div>
    </form>


</div>
</body>
</html>
