<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入侵人大</title>
    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script>

        /**
         * drag a div
         */
        window.onload=function(){
            var oDiv=document.getElementById('div');
            var distX=0;
            var distY=0;
            oDiv.onmousedown=function(ev){
                var oEvent=ev||event;
                distX=oEvent.clientX-oDiv.offsetLeft;   //获取边界到鼠标的距离
                distY=oEvent.clientY-oDiv.offsetTop;
                document.onmousemove=function(ev){
                    var oEvent=ev||event;
                    var x=oEvent.clientX-distX;
                    var y=oEvent.clientY-distY;
                    if(x<0){
                        x=0;
                    }
                    if(y<0){
                        y=0;
                    }
                    if(x>(document.documentElement.clientWidth-oDiv.offsetWidth))
                    {
                        x=document.documentElement.clientWidth-oDiv.offsetWidth;
                    }
                    oDiv.style.left=x+'px';    //根据鼠标位置相对定位，得到left，top值
                    oDiv.style.top=y+'px';
                }
                document.onmouseup=function(){
                    document.onmousemove=null;
                    document.onmouseup=null;
                }
            }

        }

        /**
         * get root path, like "http://192.168.11.91", without a "/" in the end
         */
        var path = getRootPath();
        function getRootPath() {
            var strFullPath = window.document.location.href;
            var strPath = window.document.location.pathname;
            var pos = strFullPath.indexOf(strPath);
            var prePath = strFullPath.substring(0, pos);
            var postPath = strPath.substring(0, strPath.substr(1).indexOf('/') + 1);
            return (prePath + postPath);
        }

        /**
         * test for Controller Class visit
         */
        function testController() {
            $.ajax({
                type: "POST",
                url: path + "/testController",
                dataType: "text",
                success: function (msg) {
                    $("#msg").html(msg);
                }
            });
        }

        /**
         * test for Service Class visit
         */
        function testService() {
            $.ajax({
                type: "POST",
                url: path + "/testService",
                dataType: "text",
                success: function (msg) {
                    $("#msg").html(msg);
                }
            });
        }

        /**
         * test for Dao Class visit
         */
        function testDao() {
            $.ajax({
                type: "POST",
                url: path + "/testDao",
                dataType: "text",
                success: function (msg) {
                    $("#msg").html(msg);
                }
            });
        }

        /**
         * test for Redis Class visit
         */
        function testRedis() {
            $.ajax({
                type: "POST",
                url: path + "/testRedis",
                dataType: "text",
                success: function (msg) {
                    $("#msg").html(msg);
                }
            });
        }

        /**
         * test for json type return
         */
        function jsonTest() {
            $.ajax({
                type: "POST",
                url: path + "/jsonTest",
                dataType: "text",
                success: function (msg) {
                    var data = eval('(' + msg + ')');
                    alert(data.msg);
                }
            });
        }

    </script>
</head>
<body>
<h1>入侵者注册</h1>

<form action="/user/register" method="post">

    昵称<input name="name">
    性别<input name="sex">
    头像
    <table>
        <tbody>
            <tr><td></td><td></td><td></td></tr>
            <tr><td></td><td></td></tr>
            <tr><td></td><td></td></tr>
        </tbody>
    </table>
    <input name="icon" value="13">
    <input name="type" value="1">

    <input type="submit" value="入侵">

</form>



</body>
</html>